*,
html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ffffff;  
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrap{
  background-image: url('https://cutewallpaper.org/21/rick-and-morty-white-background/Rick-And-Morty-White-Background-98-Ima-766908-PNG-.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 960px;  
  flex-direction: row;
  /* background-color: #fff; */
}

.nav-bar{
  background-color: black;
  padding: 25px;
}

ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1.3em;
}

a{
  text-decoration: none;
  color: #fff;
}

.header-section{
  position: relative;
}

.header{
  position: absolute;
  top: 40%;
  left: 20%;
  font-weight: 100;
  font-size: 2.5em;
}

.tagline{
  position: absolute;
  top: 58.8%;
  left: 37.8%;
  color: black;
  font-weight: bold;
  font-size: 18px;
  font-weight: 100;
}

.header-section img{
  width: 960px;
}

.about-me-section{
  background-color: teal;
  color: white;
  margin-top: 5em;
  padding: 3em;
}

.about-me-section p{
  margin-top: 1.5em;
  font-size: 1.5em;
}

.projects-section{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.card{
  background-color: black;
  width: 30%;
  height: auto;
  padding:1.1em;
}

.card-contents{
  text-align: center;
  color:black;
}

.card-contents h3{
  font-weight: 100;
  margin-bottom: 1em;
}

.card-contents img{
  width: 100%;
}